@media screen and (max-width: 599px) {
  .btnContainer {
    display: flex;
    justify-content: space-around;
  }
  .selectBtn {
    width: 50%;
    margin: 2px;
  }
}

@media screen and (min-width: 600px) {
  .btnContainer {
    display: flex;
    justify-content: flex-end;
  }
  .selectBtn {
    width: 10rem;
    margin: 2px;
  }
}

.headerContainer {
  margin: 20px 0;
}

.progress {
  height: 10px;
  margin-top: 20px;
}
