.jumbo {
  margin: 10vh 0;
}

.jumbo h1 {
  font-weight: bold;
}

.jumbo p {
  font-size: 1rem;
}

.studybtn {
  margin-top: 20px;
}

@media screen and (max-width: 639px) {
  .studybtn {
    width: 100%;
  }
}

@media screen and (min-width: 640px) {
  .studybtn {
    width: 10rem;
  }
}
