.actionbtn {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.textcontainer {
  background-color: #343a40;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

@media screen and (min-width: 600px) {
  .textcontainer {
    height: 70vh;
  }

  .actionbtn {
    width: 20rem;
  }

  .header {
    font-size: 4rem;
    font-weight: bold;
  }

  .subheader {
    font-size: 3rem;
  }

  .subtext {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 599px) {
  .textcontainer {
    height: 100vh;
  }

  .actionbtn {
    width: 100%;
  }

  .header {
    font-size: 3rem;
    font-weight: bold;
  }

  .subheader {
    font-size: 2rem;
  }

  .subtext {
    font-size: 1rem;
    margin-top: 2rem;
  }
}
