.heading {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.langlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.2rem;
}

.container {
  margin-top: 4vh;
}
